:root {
  --mantine-font-size-sm: 12px;
	background-color: #282828;
	color: #ffffff;
}

.mantine-datatable-row {

	--mantine-datatable-striped-color: #3d3d3d;
	--mantine-datatable-color: #1f1f1f;
	--mantine-datatable-row-color: #E3E3E3;
}
.mantine-datatable th {
	padding-top: 7px;
	padding-bottom: 7px;
	font-weight: 400;
	background-color: #333333;
}
.mantine-datatable td {
  padding-top: 1px;
  padding-bottom: 1px;
}

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}